.search-form label {
  font-weight: normal;
  @extend .form-group;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.navbar-collapse.in .search-form,
.navbar-collapse.collapsing .search-form {
    margin: 0px;
}
