// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;
$container-large-desktop: 1200px;

// Colors
$base-color:            #FFFFFF;
$body-bg:               $base-color;
$seco-color:            #3D3D3D;
$gray-base:             $seco-color;
$text-muted:            rgba(0,0,0,0.5);
$brand-primary:         $seco-color;
$text-color:            #3D3D3D;
$link-color:            #1A0DAB;

// Fonts
$font-size-base:    16px;
$font-family-base: "Roboto";
$line-height-base:  1.8;

// Navbar
$navbar-height: 80px;
$navbar-border-radius: 0;

$navbar-default-bg:                 $base-color;
$navbar-default-link-color:         $brand-primary;
$navbar-default-link-hover-color:   $text-color;
$navbar-default-toggle-hover-bg:    $text-muted;
