.navbar-brand {
    font-size: 3em;
}

@media (max-width: $screen-md-min) {
    .navbar-brand {
        font-size: 2em;
    }
}

@media (max-width: $screen-sm-min) {
    .navbar-default .navbar-form {
        border-style: none;
        padding-top: 0;
    }
}

.navbar .search-form {
  @extend .navbar-form;
}

.nav li a {
    font-size: 1.2em;
}

.navbar-toggle {
    float: none;
    margin: 0;
    cursor: pointer;
}

.navbar-toggle h2 {
    margin: 0;
}

.navbar-toggle {
    background-color: $seco-color;
    border-radius: 0;
    color: $base-color;
    margin: 15px;
    padding: 5px;
}

.navbar-nav li {
    text-align: center;
}

.navbar-nav {
    margin-top: 0;
    margin-bottom: 10px;
}
