.page-header {
    border-bottom-width: 0;
    margin: 0;
}

.cats {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cats li {
    background-color: $seco-color;
    float: left;
    padding: 0.6em;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
}

.cats a {
    color: $base-color;
}
